.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-top: 34px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;
}
.card__name {
  position: absolute;
  top: 18px;
  background: white;
  border-radius: 2px;
}
.card__section {
  position: relative;
  display: flex;

  justify-content: center;
}

.card__heading {
  font-size: 20px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
}
