.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-top: 34px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;
}
.card__name {
  position: absolute;
  top: 18px;
  background: white;
  border-radius: 2px;
}
.card__section {
  position: relative;
  display: flex;

  justify-content: center;
}

.card__heading {
  font-size: 20px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
}
/* .card__like-img {
  position: absolute;
  top: 18px;
  background: none;
  left: 25px;
} */
.card__beforelike-btn {
  background: url(../../images/beforeLike.svg) no-repeat center transparent;
  position: absolute;
  top: 18px;
  right: 123px;
  height: 15px;
  padding: 0;
  border: 0;
  width: 18px;
}
.card__afterlike-btn {
  background: url(../../images/afterLike.svg) no-repeat center transparent;
  position: absolute;
  top: 18px;
  right: 123px;
  height: 15px;
  padding: 0;
  border: 0;
  width: 18px;
}
