.Weather {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
}
.Weather__update {
  position: absolute;
  left: 16px;
  color: #0f0e0e;
  font-size: 36px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}
.Weather__updatebg {
  width: 100%;
}

@media screen and (max-width: 600px) {
  /* .Weather__updatebg {
    width: 320px;
  } */
  .Weather__update {
    left: 5px;
    font-size: 15px;
    font-family: Cabinet Grotesk;
    font-weight: 400;
    line-height: 1.2;
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .Weather__update {
    font-size: 20px;
    font-weight: 400;
  }
  .Weather__updatebg {
    width: 100%;
  }
}
