.sidebar {
  display: flex;
  gap: 16px;
  align-items: center;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.sidebar__name {
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}

.sidebar-userupdate {
  margin-top: 24px;
}
.sidebar-userupdate__profile {
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  cursor: pointer;

  font-weight: 700;
  margin: 0;
}
.siderbar_userupdate__logout {
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  margin: 0;

  padding-top: 8px;
}
.sidebar__logout-link {
  text-decoration: none;
}
